* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--primary-font-color);
}

input:focus {
  outline: none;
  border: 2px solid var(--header-lg-color);
}

button:hover {
  background-color: #516d4e;
  outline: none;
}

button:active {
  background-color: #6a8e66;
  outline: none;
  border: none;
}

button:focus {
  outline: none;
}
