:root {
  --heading-font: 'Bungee', sans-serif;
  --body-font: 'Montserrat', sans-serif;
  /* --background-color:  */
  --header-lg: 60px;
  --header-med: 25px;
  --body-size: 20px;
  /* --label-font-color: #a5a1a0; */
  --color-block: #3C503A;
  --header-lg-color: #9BAC5E;
  --primary-font-color: #777777;
  --greyed-out: #e7e7e7;
  --action-red: #C70039;
}

/* @media(max-width 1030px) {
  :root {
    --header-med: 20px;
    --body-size: 15px;
  }
} */
