<div ng-show=$ctrl.loading>
  <div class="loader">
    <div class="loading-taco-container">
      <div class="loading-taco">
        <img src="../assets/pixel-taco@3x.png">
      </div>
    </div>
    <div class="loading-text">
      LOADING TACOS!
    </div>
  </div>
</div>
<div class="restaurant-page" ng-show=$ctrl.loaded>
  <div class="restaurant-card">
    <div class="header">
      Taco Time
    </div>
    <div class="restaurant-info-container">
      <div class="restaurant-map">
        <div class="crop">
          <a class="map-click" href="https://www.google.com/maps/@{{$ctrl.restaurant.location.latitude}},{{$ctrl.restaurant.location.longitude}},17z" target="_blank"><img class="map"
            src="https://maps.googleapis.com/maps/api/staticmap?center=
            {{$ctrl.restaurant.location.latitude}},
            {{$ctrl.restaurant.location.longitude}}
            &style=feature:poi.business&zoom=18&markers=color:red%7Clabel:A%7C
            {{$ctrl.restaurant.location.latitude}},
            {{$ctrl.restaurant.location.longitude}}
            &size=640x640&key=AIzaSyBUXrb_kTzurHlE0i8YkFDfgNOUWwcYQ5A"></a>
        </div>
      </div>
      <div class="restaurant-info">

        <p class="restaurant-name">{{$ctrl.restaurant.name}}</p>
        <p>{{$ctrl.address[0]}},</p>
        <p>{{$ctrl.address[1]}}</p>
        <div class="get-directions-container">
          <a href="https://www.google.com/maps/dir/?api=1&destination=
            {{$ctrl.restaurant.location.latitude}},
            {{$ctrl.restaurant.location.longitude}}" target="_blank">
            <i class="fas fa-map-marker"></i>  Get Directions with Google Maps</a>
        </div><br>
        <p>Price Range:<span class="dollar-signs">{{"$".repeat($ctrl.restaurant.price_range)}}</span><span class="dollar-signs-empty">{{"$".repeat(4 - $ctrl.restaurant.price_range)}}</span></p>
        <p>Average Price for Two:<span class="av-price"> {{$ctrl.restaurant.currency}}{{$ctrl.restaurant.average_cost_for_two}}</span></p>

        <!-- Stars -->
        <div class="restaurant-rating-container-rp" ng-if="$ctrl.restaurant.user_rating.rating_text === 'Not rated'">
          <p class="information-item-rp">Rating: Not rated</p>
        </div>
        <div class="restaurant-rating-container-rp" ng-if="$ctrl.restaurant.user_rating.rating_text !== 'Not rated'">
          <p class="information-item-rp">Rating:</p>
          <div class="rating-star-container-rp">
            <div class="stars-background-container-rp">
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
            </div>
            <div class="rating-stars-percentage-rp" style="width: {{$ctrl.ratingPercentage()}}%">
              <div class="stars-foreground-container-rp">
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
                <span class="fas fa-star"></span>
              </div>
            </div>
          </div>
        </div>
        <!-- /Stars -->

      </div>
    </div>
    <div class="back-button">
      <a href="#!/"><button>Back to Home</button></a>
    </div>
  </div>
  <div class="footer">
    <p class="footer-text">© 2018 Vikram Badarinath, Bree Tanner, Emily Westenbroek. All Rights Reserved</p>
  </div>
</div>
