* {
  margin: 0;
}

html, body {
  background-color: var(--header-lg-color);
  height: 100%;
}

.restaurant-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.loader {
  background: rgb(238, 192, 27);
  position: absolute;
  height: 75px;
  width: 150px;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  left: 50%;
  top: 80px;
  margin-left: -75px;
  animation: 1s linear infinite rotate;
  transform-origin: 50% 100%;
  border: 1px solid #000;
}

@keyframes rotate {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}

.loadingText {
  font-size: var(--header-med);
  font-family: var(--heading-font);
  position: absolute;
  left: 50%;
  top: 280px;
  margin: 0 0 0 -115px;
}

.restaurant-card {
  margin: auto;
  width: 80%;
  background-color: #FFF;
  box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.restaurant-card .header {
  color: var(--header-lg-color);
  padding: 20px;
  text-align: center;
  font-size: var(--header-med);
  font-family: var(--heading-font);
  border-radius: 2px 2px 0 0;
  background-color: var(--color-block);
}

/* Grid Set-Up */

.restaurant-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  margin: 50px;
}

.restaurant-map {
  grid-column: 2/3;
  grid-row: 1/2;
}

.restaurant-info {
  grid-column: 1/2;
  grid-row: 1/2;
  font-family: var(--body-font);
  color: var(--primary-font-color);
  font-size: 17px;
  line-height: 2;
}

/* Restaurant Info Styling */

.restaurant-name {
  color: var(--header-lg-color);
  font-family: var(--heading-font);
  font-size: 42px;
  margin: 0px;
  margin-bottom: 15px;
  line-height: 48px;
}

.dollar-signs {
  color: #BBD55E;
  padding: 5px 0px 5px 5px;
}

.dollar-signs-empty {
  padding: 5px 5px 5px 0px;
}

.av-price {
  padding: 5px;
}

.get-directions-container > a {
  text-decoration: underline;
  color: var(--header-lg-color);
}

.get-directions-container > a:hover {
  text-decoration: underline;
  color: #516d4e;
}

/* Map Styling */

.crop {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-width: 600px;
  max-height: 300px;
}

.crop .map {
    width: 100%;
}

/* Stars styling */

.restaurant-rating-container-rp {
  display: flex;
  align-items: center;
}

.rating-star-container-rp {
  position: relative;
  width: 115px;
  margin-left: 10px;
}

.rating-stars-percentage-rp {
  overflow: hidden;
}

.stars-foreground-container-rp {
  position: relative;
  color: #FFC300;
  width: 115px;
  z-index: 2;
}

.stars-background-container-rp {
  position: absolute;
  color: #f4f4f4;
  width: 115px;
  z-index: 1;
}


/* Back Button Styling */

.back-button {
  align-items: center;
  justify-content: center;
  margin: 0 50px 30px 50px;
}

.back-button button {
  border-radius: 2px;
  width: 100%;
  padding: 10px;
  border: none;
  font-family: var(--body-font);
  font-size: 18px;
  color: var(--header-lg-color);
  background-color: var(--color-block);
}

.back-button button:hover {
  background-color: #516d4e;
}

.back-button button:active {
  background-color: #6a8e66;
}

.back-button button:focus {
  outline: none;
  border: 2px solid var(--header-lg-color);
}

@media (max-width: 960px) {
  .restaurant-info-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 60%;
    margin: 0px;
  }

  .restaurant-map {
    margin: 0px;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .crop {
    margin: 0;
    overflow: hidden;
    max-width: 100%;
    max-height: 300px;
  }

  .crop .map {
      height: 100%;
      width: 100%;
  }

  .restaurant-info {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 25px 35px;
  }

  .back-button {
    margin: 0 35px 30px 35px;
  }

@media (max-width: 460px) {

  .restaurant-page {
    height: auto;
  }

  .restaurant-info {
    font-size: 14px;
  }

  .restaurant-name {
    font-size: 34px;
  }

  .rating-star-container-rp {
    width: 100px;
  }

  .stars-foreground-container-rp {
    width: 100px;
  }

  .stars-background-container-rp {
    width: 100px;
  }
}

@media (max-width: 415px) {

  body {
    background-color: #FFFFFF;
  }

  .restaurant-page {
    height: auto;
  }

  .restaurant-card {
    width: 100%;
    height: 100%;
    box-shadow: none;
  }

  .restaurant-card .header {
    padding: 10px;
  }

  .back-button {
    margin: auto 35px 35px 35px;
  }
}

.footer {
  text-align: center;
  font-family: var(--body-font);
  font-size: 14px;
  color: #000;
  margin-bottom: 20px;
  opacity: 0.7;
}

@media (max-width: 600px) {
  .footer {
    font-size: 10px;
    margin: -10px 5% 10px 5%;
  }
}
