.side-bar-color {
  background-color: var(--header-lg-color);
}

.main-content-container {
  margin-left: 10%;
  margin-right: 10%;
  background-color: #fff;
  box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.2);
}

.main-header-container {
  background-color: var(--color-block);
}

.main-header {
  font-family: var(--heading-font);
  font-size: var(--header-lg);
  color: #9BAC5E;
  margin-left: 10%;
}

.break {
  display: table;
}

.blurb {
  margin-left: 10%;
  font-family: var(--body-font);
  font-size: var(--body-size);
  color: var(--primary-font-color);
}

.form {
  display: flex;
  justify-content: space-between;
}

.search {
  height: 40px;
  width: 80%;
  padding: 10px;
  background-color: #F8F8F8;
  color: var(--primary-font-color);
  border: none;
  font-family: var(--body-font);
  font-size: 13px;
  border-radius: 3px;
}

.location-search {
  margin-left: 10%;
  margin-right: 10%;
}

.submit-button {
  height: 40px;
  min-width: 100px;
  margin: 0px 0px 0px 10px;
  border-radius: 3px;

  width: 20%;
  border: none;
  font-family: var(--body-font);
  font-size: 16px;
  color: var(--header-lg-color);
  background-color: var(--color-block);
}

.location-display {
  margin: 35px 10% 20px 10%;
  text-align: center;
  font-family: var(--body-font);
  font-size: var(--body-size);
  color: var(--primary-font-color);
}

.search-filter {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 25px;
  width: 100%;
}

.card-grid {
  padding-bottom: 40px;
  margin: 0 10% 5% 10%;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.taco-card-instance {
  display: block;
  width: 100%;
}
