<div class="side-bar-color">
<div class="main-content-container">
<div class="main-header-container">
<h1 class="main-header">
  It's Always Taco Time!
<h1>
</div>
<div class="blurb">
  <p>Find a Taco, and Find Happiness</p>
</div>
<div class="Search">
<input ng-model="$ctrl.search" class="search" placeholder="Search"/>
</div>
<div class="card-grid">
  <taco-card class="taco-card-instance" restaurant="restaurant" ng-repeat="restaurant in $ctrl.restaurants | filter:$ctrl.search"></taco-card>
</div>
</div>
</div>
