.main-header-container {
  background-color: var(--color-block);
}

.main-header {
  font-family: var(--heading-font);
  font-size: var(--header-lg);
  color: #fff;
  margin-left: 10%;
}

.blurb {
  margin-left: 10%;
  font-family: var(--body-font);
  font-size: var(--body-size);
}

.search {
  margin-left: 10%;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.taco-card-instance {
  display: block;
  width: 100%;
}
