.card-container {
  border-radius: 2px;
  width: 100%;
  height: 150px;
  display: grid;
  grid-column: 1fr, 1fr;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  transition:0.3s ease-in-out;
}

.card-container:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  /* -webkit-transform: scale(1.1, 1.1); */
  /* transform: scale(1.1, 1.1); */
  transition: .3s
}

.color-block {
  border-radius: 2px 2px 0 0;
  height: 15px;
  width: 100%;
  background-color: var(--color-block);
  grid-column: 1/3;
  grid-row: 1/2;
}

.information-item {
  font-family: var(--body-font);
  font-size: var(--body-size);
  margin: 0 0 0 15px;
  display: flex;
  align-items: center;
}

.restaurant-name-container {
  padding-top: 5px;
  grid-column: 1/3;
  grid-row: 2/3;
}

.restaurant-name-container > p {
  font-size: var(--header-med);
}

.dollar-signs {
  color: #BBD55E;
  padding: 15px 0px 15px 15px;
}

.restaurant-price-range-container {
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  align-items: center;
}

.restaurant-rating-container {
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  align-items: center;
}

.rating-star-container {
  position: relative;
  width: 110px;
  margin-left: 15px;
}

.rating-stars-percentage {
  overflow: hidden;
}

.stars-foreground-container {
  position: relative;
  color: #FFC300;
  width: 110px;
  z-index: 2;
}

.stars-background-container {
  position: absolute;
  color: #f4f4f4;
  width: 110px;
  z-index: 1;
}

@media (max-width: 720px) {
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content:
  }

  .restaurant-name-container {
    padding: 5px 0;
    margin-top: 5px;
  }

  .information-item {
    align-items: center;
  }

  .not-rated {
    padding: 10px 0;
  }

}

@media (max-width: 650px) {
  .restaurant-name-container > p {
    font-size: var(--body-size);
    font-weight: 600;
    margin-right: 10px;
  }
}
