.card-container {
  border-radius: 8px;
  margin: 10%;
  display: grid;
  grid-column: 1fr, 1fr;
  /* box-shadow: 0px 5px 5px #d2d4d8; */
  /* The next two lines are from hover demo site */
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  transition:0.3s ease-in-out;
}

.card-container:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  transition: .3s
}

.color-block {
  border-radius: 8px 8px 0 0;
  height: 15px;
  width: 100%;
  background-color: var(--color-block);
  grid-column: 1/3;
  grid-row: 1/2;
}

.information-item {
  font-family: var(--body-font);
  font-size: var(--body-size);
  margin-left: 15px;
}

.restaurant-name-container {
  grid-column: 1/3;
  grid-row: 2/3;
}

.restaurant-name-container > p {
  font-size: var(--header-med);
}

.restaurant-price-range-container {
  grid-column: 1/2;
  grid-row: 3/4;
}

.restaurant-rating-container {
  grid-column: 2/3;
  grid-row: 3/4;

  // Bree's Taco card CSS

.taco-card .rating-star-container {
  position: relative;
  width: 100px;
  overflow: hidden;
}

.taco-card .rating-star-container .rating-stars {
  color: yellow;
}

.rating-star-container {
  position: relative;
  width: 110px;
}

.stars-background-container {
  position: relative;
  width: 110px;
  overflow: hidden;
}



.rating-stars-percentage {
  color: yellow;
  width: 100px;
  overflow: hidden;
}
/*
.taco-card .rating-star-container {
  position: relative;
  width: 100px;
  overflow: hidden;
}

.taco-card .rating-star-container .rating-stars {
  color: yellow;
} */
